In [48]:
import pandas as pd
Location = "Desktop\sexByAge.csv"

In [49]:
df = pd.read_csv(Location, names=['Area','Population Size'])
df.columns = ['Area','Population Size']

In [50]:
df.head(10)

           Area  Population Size
0        POP100         18801310
1         HU100          8989580
2   POP100.2000         15982378
3    HU100.2000          7302947
4       P012001         18801310
5  P012001.2000         15982378
6       P012002          9189355
7  P012002.2000          7797715
8       P012003           547985
9  P012003.2000           484767