In [57]:
import pandas as pd
Location = "Desktop\sexByAge.csv"

In [61]:
df = pd.read_csv(Location, names=['Geographic Header','Value'])
df.columns = ['Geographic Header','Value']

In [63]:
df.head(15)

   Geographic Header     Value
0              GEOID        12
1             SUMLEV        40
2              STATE        12
3             COUNTY       NaN
4               CBSA       NaN
5                CSA       NaN
6              NECTA       NaN
7             CNECTA       NaN
8               NAME   Florida
9             POP100  18801310
10             HU100   8989580
11       POP100.2000  15982378
12        HU100.2000   7302947
13           P012001  18801310
14      P012001.2000  15982378